<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Orders Sent to Heftwerk on: <%= Time.current.strftime('%A, %d %b %Y %l:%M %p') %></h1>
    <h2>Orders were automatically fulfilled in Squarespace: <bold><%= @automatically_fulfilled %></bold></h2>
    <p>
      Order count: <%= @orders.count %>
      Order ids: <% @orders.each do |o| %>
      <p><%= o %></p>
      <% end %>
    <p>
      Item count: <%= @items.count %>
      Items: <% @items.each do |i| %>
      <p><%= i %></p>
      <% end %>
    </p>
  </body>
</html>
